section header{
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    a{
        justify-self: end;
        align-items: center;
        gap: 8px;
        
        span{
            background-image: url(../assets/ArrowRight.svg);
            height: 16px;
            width: 16px;
        }

        &:hover span{
            background-image: url(../assets/ArrowRightHover.svg);
        }
    }
}

#feature{

    img{
        height: 100%;
        object-fit: cover;
        border-radius: 4px;
    }

    

    .card{
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        /* &::before o & significa que estou chamando o card, o msm que ter feito .card::Before */

        &::before{
            content: "";
            position: absolute;
            inset: 0;
            /* 50% para o efeito ficar somente na metade da imagem */
            top: 50%;
            /* Background linear gradient, primeiro escolhe o grau, no caso de cima pra baixo 180, após a opacidade que irá começar 0%, depois a cor final bem como a porcentagem que irá aparecer quanto maior mais "invisível"*/
            background: linear-gradient(180deg, transparent 0%, #020617 100%);
        }
    
    figcaption{
        position: absolute;
        bottom: 0;

        padding: 24px;

        &:has(.text-lg){
            padding: 12px;
        }
    }

    h2{
        margin-top: 8px;
    }
}
}

#weekly{

    figure{
        position: relative;

        .content-tag{
            position: absolute;
            top: 8px;
            left: 8px;
        }

        p{
            margin-top: 8px;
            font-weight: 800;
        }
    }

    img{
        height: 160px;
    };

    &>div{
        grid-template-columns: repeat(4,292px);
    }
}