*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --gray-100:#0D0E11;
    --gray-200:#16181D;
    --gray-300:#292C34;
    --gray-400:#878EA1;
    --gray-500:#C0C4CE;
    --gray-600:#E2E4E9;

    --red:#E3646E;
    --purple:#BB72E9;
    --blue:#3996DB;
    --green:#82BC4F;
    --yellow:#EABD5F;

    --font-family-asap: 'ASAP', 'sans-serif';
    --tittle-lg: 800 56px/120% var(--font-family-asap);
    --tittle-md: 800 24px/120% var(--font-family-asap);
    --tittle-sm: 800 16px/120% var(--font-family-asap);

    --font-family-inco: 'Inconsolata', 'sans-serif';
    --subtitle: 400 20px/120% var(--font-family-inco);

    --font-family-maven: 'Maven Pro', 'sans-serif';
    --text-md: 400 16px/140% var(--font-family-maven);
    --text-sm: 400 14px/140% var(--font-family-maven);
}

body{
    font: var(--text-md);
    background-color: var(--gray-300);
    color: var(--gray-500);
}

.container{
    max-width: 1366px;
    /* padding-inline: 120px; */
    margin-inline: auto;
}

span{
    color: var(--purple);
}